.dynam-select {
	width: 100%;
	height: 100%;
}
  
  .forms {
  	float: left;
  }
  
  .current-db-container {
  	float: left;
  }
  .current-db {
  	border: 1px solid #DCDCDC;
  	width: 100%;
  	margin-top: 25px;
  	margin-bottom: 10px;
	overflow-y: scroll;
  	float: left;
  }
  
  button.btn {
    display: black;
    clear: none;
    margin: 0 0 13px;
    padding-top: .14rem;
    padding-bottom: .2rem;
    border-width: .0625rem;
    border-color: #c6c6c6;
    border-radius: 4px;
    background-color: #e2ebeb;
    text-align: left;
  }
  
  .container-fluid {
  margin-bottom: 20px;
  border-width: .0625rem;
  border-style: solid;
  }

input, select {
	float: right;
	margin-right: 5%;
	width: 60%;
}